<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Extended" />
	</extensions>
	<targets>
		<target 
			name="fileAll"
			xsi:type="File"
			layout="${longdate} ${level}&#009;&#009;SessionId: ${aspnet-request:cookie=ASP.NET_SessionId}&#10;&#009;${message}"
			fileName="${basedir}/App_Data/log.txt"
			archiveFileName="${basedir}/App_Data/archive/log_{#####}.txt"
			archiveAboveSize="5120000"
			archiveNumbering="Rolling"
			maxArchiveFiles="20"
			concurrentWrites="true"
			keepFileOpen="true"
			encoding="utf-8" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="fileAll" />
	</rules>
</nlog>